@charset "UTF-8";

@media  screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(170, 147, 19), black);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#login {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    section#login > div#imagem {
        display: block;
        background: gold url(../img/pexels-athena-2582937.jpg) no-repeat ;
        background-size: cover;
        background-position: left bottom;
        height: 200px;
    }
}

@media  screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, black, rgb(170, 147, 19));
    }

    section#login > div#imagem {
        display: block;
        background: gold url(../img/pexels-athena-2582937.jpg) no-repeat ;
        background-size: cover;
        background-position: left bottom;
        height: 200px;
    }

    section#login {
        width: 950px;

    }

    section#login > div#login {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}